.footer
    font-size: 16px
    position: relative
    z-index: 1
    margin-bottom: 80px
    +max-screen($breakpoint-xl)
        margin-bottom: 80px
    +max-screen($breakpoint-lg)
        margin-bottom: 100px
    +max-screen($breakpoint-sm)
        margin-bottom: 40px
    &__bg
        position: absolute
        content: ""
        width: 100%
        height: 2356px
        top: auto
        bottom: -125px
        right: 0
        z-index: 0
        overflow: hidden

        +max-screen($breakpoint-xl)
            bottom: -80px
        +max-screen($breakpoint-sm)
            bottom: -40px
        &::before
            position: absolute
            content: ""
            width: 100%
            height: 100%
            top: 0
            bottom: -10px
            right: 0
            background: url(../assets/images/footer_bg.svg)
            background-color: $color-bg-light
            background-blend-mode: exclusion
            background-position: right bottom
            background-repeat: no-repeat
            background-size: 100%
            .dark_mode &
                background-color: $dark-mode-background
                background-blend-mode: soft-light
            +max-screen($breakpoint-xxs)
                max-width: 85vw
    a
        letter-spacing: 0.64px
        // color: $light-text
    li
        &:hover
            a
                color: $s-pink
                .dark_mode &
                    color: $gold
    .footer-title
        opacity: 0.5
        font-size: 16px
        margin-bottom: 16px
        letter-spacing: 0.64px
        .dark_mode &
            color: $gold
            opacity: 1
        +max-screen($breakpoint-lg)
            font-size: 20px
            line-height: 1.6
            margin-bottom: 8px
        +max-screen($breakpoint-md)
            text-align: center
        +max-screen($breakpoint-sm)
            font-size: 16px
            line-height: 1.6
            margin-bottom: 17px
            margin-top: 10px
    .container
        max-width: 1400px
        +max-screen($breakpoint-xxs)
        +max-screen($breakpoint-lg)
            max-width: 829px
    &__main
        position: relative
        z-index: 1
        padding: 117px 60px 60px
        border-radius: 30px
        max-width: 1639px
        margin-left: auto
        margin-right: auto
        background: $new-vizual-background-main
        box-shadow: 20px 20px 25px 0px rgba(20, 31, 56, 0.25), -15px -15px 20px 0px rgba(255, 255, 255, 0.35)

        .dark_mode &
            background: $dark-mode-background
            box-shadow: 10px 10px 25px #141414,-8px -8px 25px #354153

        +max-screen($breakpoint-xxl)
            margin-left: auto
            margin-right: auto
            +min-screen($breakpoint-xxs)
                max-width: 1340px
                padding: 97px 50px 50px
        +max-screen($breakpoint-xxs)
            margin-left: 100px
            margin-right: 100px
            padding: 97px 50px 50px
        +max-screen(1200px)
            padding: 87px 60px 60px
            margin-left: 80px
            margin-right: 80px
        +max-screen($breakpoint-lg)
            padding: 87px 60px 60px
            margin-left: 30px
            margin-right: 30px
        +max-screen($breakpoint-sm)
            padding: 87px 0 60px
            margin-left: 22.5px
            margin-right: 22.5px
    &__logo
        +max-screen($breakpoint-md)
            margin-bottom: 30px
            text-align: center
        img
            max-width: 119px
            .dark_mode &
                display: none
            &.dark
                display: none
                .dark_mode &
                    display: block
            +max-screen(1200px)
                max-width: 65px
            +max-screen($breakpoint-md)
                max-width: 90px
                display: block
                margin-left: auto
                margin-right: auto

    &__menu
        margin-bottom: -16px
        .menu
            display: flex
            flex-wrap: wrap
            +max-screen($breakpoint-md)
                flex-direction: column
            & > li
                width: 33%
                line-height: 1
                margin-bottom: 16px
                +max-screen($breakpoint-lg)
                    font-size: 18px
                    line-height: 1.6
                    margin-bottom: 8px
                +max-screen($breakpoint-md)
                    text-align: center
                    width: 100%
                +max-screen($breakpoint-sm)

                    font-size: 16px
                    line-height: 1.6
                    margin-bottom: 2px
        &Wrapper
            +max-screen($breakpoint-sm)
                margin-bottom: 15px
    &__contact
        +max-screen($breakpoint-sm)
            margin-top: 10px
            margin-bottom: 40px
        &Text
            +max-screen($breakpoint-lg)
                font-size: 18px
                line-height: 1.4
            +max-screen($breakpoint-md)
                text-align: center
            +max-screen($breakpoint-sm)
                font-size: 16px
                line-height: 1.6
                text-align: center
    &__bottom
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-top: 96px
        height: 48px
        position: relative
        +max-screen($breakpoint-lg)
            margin-top: 52px
            height: 26px

        +max-screen($breakpoint-md)
            flex-direction: column-reverse
            margin-top: 62px
            height: auto
            align-items: center
        +max-screen($breakpoint-sm)
            margin-top: 0
    &__icons
        margin: 0 -12.5px
        display: flex
        position: absolute
        left: 50%
        transform: translateX(-50%)
        top: 0

        +max-screen($breakpoint-lg)
            margin: 0 -6.8px
        +max-screen($breakpoint-md)
            position: static
            transform: none
    &__icon
        margin: 0 12.5px
        +max-screen($breakpoint-lg)
            margin: 0 6.8px
        +max-screen($breakpoint-sm)
            margin-top: 14px
        // img
        //     width: 48px
        //     .dark_mode &
        //         display: none
        //     &.dark
        //         display: none
        //         .dark_mode &
        //             display: block
        svg
            width: 48px
            transition: .3s
            .dark_mode &
                display: none
            path
                transition: .3s
            &:hover
                path
                    fill: $s-pink
        .dark
            svg
                display: none
                .dark_mode &
                    display: block

        a
            +max-screen($breakpoint-md)
                display: block
    &__copywriting
        font-size: 14px
        opacity: 0.5
        letter-spacing: 0.56px
        +max-screen($breakpoint-lg)
            font-size: 18px
        +max-screen($breakpoint-md)
            font-size: 16px
            line-height: 1.6
            margin-top: 18px
            text-align: center
    &__email
        a
            color: $lila
            font-size: 14px
            letter-spacing: 0.56px
            .dark_mode &
                color: $gold
            +max-screen($breakpoint-lg)
                font-size: 18px
            +max-screen($breakpoint-md)
                font-size: 16px
                line-height: 1.6
            &:hover
                color: $s-pink
    &__phone
        font-size: 14px
        position: relative
        padding-left: 15px
        letter-spacing: 0.56px
        +max-screen($breakpoint-lg)
            font-size: 18px
        +max-screen($breakpoint-sm)
            padding-left: 0
            font-size: 16px
            line-height: 1.6
            margin-top: 2px
        &::before
            content: ""
            position: absolute
            left: 7.5px
            width: 1px
            top: 50%
            height: 12px
            transform: translate(-50%, -50%)
            background: $default-text-color
            +max-screen($breakpoint-sm)
                content: none
    &__text
        display: flex
        +max-screen(1200px)
            flex-direction: column
            align-items: center
        +max-screen($breakpoint-md)
            margin-bottom: 20px
    &__goUpBtn
        display: flex
        align-items: center
        justify-content: flex-end
        +max-screen(1200px)
            align-items: flex-start
        +max-screen($breakpoint-md)
            display: none
        a
            display: flex
            align-items: center
            +max-screen(1200px)
                flex-direction: column
                justify-content: space-between
        span
            opacity: 0.5
            .dark_mode &
                color: $gold
                opacity: 1
            +max-screen(1200px)
                margin-bottom: 10px
            +max-screen($breakpoint-lg)
                font-size: 12px
            +max-screen($breakpoint-md)
                display: none
        div
            display: flex
            border-radius: 50%
            background: $new-vizual-background-main
            box-shadow: 2px 2px 15px 0px rgba(20, 31, 56, 0.55), -2px -2px 4px 0px #FFF
            width: 54px
            height: 54px
            margin-left: 10px
            .dark_mode &
                background: #232A34
                box-shadow: 2px 2px 15px #141414,-2px -2px 10px #354153
            +max-screen($breakpoint-lg)
                width: 40px
                height: 40px
                margin-left: auto
                margin-right: auto
            +max-screen($breakpoint-md)
                width: 52px
                height: 52px
        img, svg
            display: block
            align-self: center
            margin: 0 auto
            width: 100%
            max-width: 22px
            transition: .3s
            path
                transition: .3s
                .dark_mode &
                    stroke: $gold
            &:hover
                path
                    stroke: $s-pink
