.btn
    display: inline-flex
    height: 80px
    padding: 24px 55px
    justify-content: center
    align-items: center
    gap: 10px
    text-transform: uppercase
    background: $s-pink
    font-weight: 700
    font-size: 30px
    color: $white
    border-radius: 10px
    box-shadow: 8px 8px 25px 0px rgba(27, 35, 60, 0.20), -10px -10px 25px 0px #FFF
    +max-screen(1200px)
        font-size: 24px
    +max-screen($breakpoint-lg)
        font-size: 20px
        line-height: 1.25
    +max-screen($breakpoint-sm)
        width: 100%
        text-align: center
    &--blue
        background: $lila
        box-shadow: 5px 5px 20px 0px rgba(13, 39, 80, 0.16), -8px -8px 15px 0px #FFF
    &--small
        height: 50px
