.btn
    display: inline-flex
    height: 80px
    padding: 24px 55px
    justify-content: center
    align-items: center
    gap: 10px
    text-transform: uppercase
    font-weight: 700
    font-size: 30px
    color: $s-pink
    border-radius: 20px
    background: var(--new-vizual-background-main, #ECECEC)
    box-shadow: 10px 10px 25px 0px rgba(20, 31, 56, 0.30), -8px -8px 25px 0px #FFF

    .dark_mode &
        color: $gold
        background: var(--dark-mode-background, #232A34)
        box-shadow: 10px 10px 25px 0px #141414, -8px -8px 25px 0px #354153
    +max-screen(1200px)
        font-size: 24px
    +max-screen($breakpoint-lg)
        font-size: 20px
        line-height: 1.25
    +max-screen($breakpoint-sm)
        width: 100%
        text-align: center
        font-size: 16px
        padding: 18px 25px
    &--blue
        background: $lila
        box-shadow: 5px 5px 20px 0px rgba(13, 39, 80, 0.16), -8px -8px 15px 0px #FFF
    &--small
        height: 50px
        border-radius: 10px
        background: var(--new-vizual-background-main, #ECECEC)
        color: $lila
        font-weight: normal
        box-shadow: 10px 10px 25px 0px rgba(20, 31, 56, 0.30), -8px -8px 25px 0px #FFF

        .dark_mode &
            color: $gold
            background: var(--dark-mode-background, #232A34)
            box-shadow: 10px 10px 25px 0px #141414, -8px -8px 25px 0px #354153 inset

    &--white
        background: var(--new-vizual-background-main, #ECECEC)
        box-shadow: 10px 10px 25px 0px rgba(20, 31, 56, 0.30) inset, -8px -8px 25px 0px #FFF inset
        +max-screen($breakpoint-xl)
            box-shadow: 10px 10px 15px 0px rgba(20, 31, 56, 0.30) inset, -8px -8px 15px 0px #FFF inset
        .dark_mode &
            background: #232A34
            box-shadow: 10px 10px 25px 0px #141414 inset, -8px -8px 25px 0px #354153 inset
            +max-screen($breakpoint-xl)
                box-shadow: 10px 10px 15px 0px #141414 inset, -8px -8px 15px 0px #354153 inset
        span
            background: var(--blue-space-gradient, linear-gradient(116deg, #0D63A8 0%, #000076 59.38%, #0D63A8 95.31%))
            background-clip: text
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            .dark_mode &
                background: none
                color: $lila
                -webkit-text-fill-color: $lila

    &--default
        border-radius: 20px
        background: var(--new-vizual-background-main, #ECECEC)
        box-shadow: 10px 10px 25px 0px rgba(20, 31, 56, 0.30), -8px -8px 25px 0px #FFF
        color: var(--new-vizual-accent-baby-lila, #98A9D8)
        .dark_mode &
            background: var(--dark-mode-background, #232A34)
            box-shadow: 10px 10px 25px 0px #141414, -8px -8px 25px 0px #354153
            color: $gold
