.guidelines
    position: relative
    margin-bottom: 400px
    +max-screen($breakpoint-md)
        background-color: #f9f9f9
        margin-bottom: 0
        padding-bottom: 39px
        margin-bottom: 160px
        z-index: 1
    +max-screen($breakpoint-sm)
        background: #fff
        margin-bottom: 0
        padding-bottom: 144px
        z-index: auto
    .container
        position: relative
        z-index: 2
        max-width: 1470px
        +max-screen($breakpoint-md)
            max-width: 670px
    &::before 
        content: ""
        top: -805px
        bottom: -1009px
        left: 0
        width: 100%
        background-image: url('../assets/images/White_clouds_2nd_section.png')
        background-size: cover
        background-position: center
        position: absolute
        z-index: 1
        +max-screen($breakpoint-md)
            background-image: url('../assets/images/guidelines_tablet_clouds.png')
            top: -283px
            bottom: calc( 100% - 270px )
            
        +max-screen($breakpoint-sm)
            background-image: url('../assets/images/mobile_guidelines_clouds_4.png')
            top: -242px
            background-position: 41%
            bottom: calc( 100% - 148px )
    &::after 
        +max-screen($breakpoint-md)
            content: ""
            background-image: url('../assets/images/tablet_clouds.png')
            position: absolute
            left: 0
            width: 100%
            background-size: cover 
            background-repeat: no-repeat
            top: calc( 100% - 269px )
            bottom: -270px
            z-index: 1
        +max-screen($breakpoint-sm)
            content: ""
            background-image: url('../assets/images/guidelines_mobile_bottom_clouds.png')
            background-position: 70%
            top: calc( 100% - 227px )
            bottom: -30px
    &__title 
        color: $space-lila
        font-size: 70px
        line-height: 1.05
        font-weight: 300
        text-align: center
        +max-screen($breakpoint-md)
            padding-left: 20px
            padding-right: 20px
            font-size: 52px
        +max-screen($breakpoint-sm)
            font-size: 32px
            text-align: left
            padding-left: 0
            padding-right: 0
    &__text
        color: $dark-space
        font-size: 24px
        line-height: 1.4
        margin-top: 40px
        +max-screen($breakpoint-md)
            padding-left: 20px
            padding-right: 20px
            font-size: 18px
        +max-screen($breakpoint-sm)
            margin-top: 20px
            font-size: 16px
            line-height: 1.45
            padding-left: 0
            padding-right: 0
        p
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0
        strong 
            color: $s-pink
    &__top 
        max-width: 1235px
        margin: 0 auto
    &__readMore 
        font-size: 16px
        line-height: 1.4
        text-transform: uppercase
        text-align: right
        margin-top: 20px
    &__testimonial 
        background: linear-gradient(169.31deg, #702F8A 7.94%, #1B233C 50.27%)
        padding: 70px 89px 70px 270px
        border-radius: 30px
        margin-top: 140px
        position: relative
        color: $white 
        +max-screen($breakpoint-md)
            margin-top: 62px
            margin-left: 128px
            padding: 50px 51px 50px 100px 
        +max-screen($breakpoint-sm)
            padding: 40px 36px 100px
            margin-top: 40px
            margin-left: 0
        &Title 
            font-size: 50px
            line-height: 1.25
            font-weight: 300
            +max-screen($breakpoint-md)
                font-size: 32px
                line-height: 1.2
            +max-screen($breakpoint-sm)
                font-size: 23px
                line-height: 1.2
        &Text 
            margin-top: 40px
            line-height: 1.4
            font-size: 20px
            &.opened 
                max-height: 100%
            +max-screen($breakpoint-md)
                margin-top: 20px
                font-size: 16px
                max-height: 8.6em
                overflow: hidden
            +max-screen($breakpoint-sm)
                margin-top: 20px
                font-size: 14px
                line-height: 1.5
            p 
                margin-bottom: 20px
                &:last-child
                    margin-bottom: 0
        &Owner 
            opacity: 0.7 
            margin-top: 40px
            font-size: 20px
            line-height: 1.25
            font-style: italic
            padding-bottom: 13px
            +max-screen($breakpoint-md)
                font-size: 16px
                margin-top: 50px
                padding-bottom: 0
            +max-screen($breakpoint-sm)
                margin-top: 30px
                font-size: 14px
                line-height: 1.25
                padding-bottom: 0
        &Robbot 
            position: absolute
            left: 0
            top: 50%
            transform: translate(-45%, -50%)
            +max-screen($breakpoint-md)
                bottom: 55px
                left: -8.5%
                top: auto 
                transform: translateX(-45%)
            +max-screen($breakpoint-sm)
                top: auto
                left: 50%
                bottom: -150px
                transform: translateX(-50%)
            img 
                width: 401px
                +max-screen($breakpoint-md)
                    width: 193px
                +max-screen($breakpoint-sm)
                    width: 147px
    &__btn
        margin-top: 101px
        text-align: center
        +max-screen($breakpoint-md)
            margin-top: 66px
        +max-screen($breakpoint-sm)
            margin-top: 168px