.hero
    padding-top: 20px
    padding-bottom: 309px
    position: relative
    +max-screen($breakpoint-xl)
        padding-bottom: 160px
    +max-screen($breakpoint-lg)
        padding-top: 70px
        padding-bottom: 155px

    +max-screen($breakpoint-md)
        padding-top: 94px
        padding-bottom: 89px

    +max-screen($breakpoint-sm)
        padding-top: 59.5px
        padding-bottom: 68px
        margin-bottom: 114px
    &::before

    .container
        max-width: 1660px
        +max-screen($breakpoint-xxl)
            +min-screen(1660px)
                max-width: 86.45%
        +max-screen($breakpoint-lg)
            max-width: 911px
    &__image
        +max-screen($breakpoint-lg)
            flex: 0 0 37.83333%
            max-width: 37.83333%
            margin-left: -4.5%
        +max-screen($breakpoint-md)
            margin-right: 17%
            text-align: right
            margin-top: -51px
            margin-left: auto
        +max-screen($breakpoint-sm)
            padding-left: 97.5px
            padding-right: 97.5px
            margin-bottom: 49.5px
            flex: 0 0 100%
            max-width: 100%
            margin-left: 0
            margin-top: 0
        img
            position: absolute
            width: 120%
            left: -80px
            top: -80px
            +max-screen($breakpoint-xl)
                position: absolute
                width: 100%
                left: -40px
                top: -40px
            +max-screen($breakpoint-lg)
                position: relative
                top: auto
                left: auto
            +max-screen($breakpoint-sm)
                max-width: 160px
                margin-left: auto
                margin-right: auto
                display: block
    &_content
        +max-screen($breakpoint-sm)
            flex-direction: column-reverse
    &__button
        padding-right: 3px
    &__text
        margin-bottom: 82px
        +max-screen(1200px)
            +min-screen(1025px)
                font-size: 48px
                br
                    display: none
        +max-screen($breakpoint-lg)
            margin-bottom: 30px
            max-width: 470px
        +max-screen($breakpoint-sm)
            margin-bottom: 35px
            margin-bottom: 45px
            padding-right: 0
        &Wrapper
            padding-left: 90px
            padding-top: 32px
            display: flex
            flex-direction: column
            justify-content: center
            +max-screen($breakpoint-xl)
                padding-left: 64px
            +max-screen(1200px)
                +min-screen(1025px)
                    max-width: 60%
                    padding-left: 52px
                    margin-right: auto
            +max-screen($breakpoint-lg)
                padding-left: 42px
                padding-top: 71px
            +max-screen($breakpoint-md)
                padding-top: 0
                padding-left: 88px
                padding-right: 88px
            +max-screen($breakpoint-sm)
                padding-top: 0
                padding-left: 15px
                padding-right: 0
