.letsWork
    padding-bottom: 180px
    position: relative
    +max-screen($breakpoint-lg)
        padding-bottom: 100px
    +max-screen($breakpoint-md)
        padding-bottom: 80px
    +max-screen($breakpoint-sm)
        padding-bottom: 60px

    .container
        // max-width: 76.8%
        position: relative
        z-index: 1
        // +max-screen($breakpoint-xxl)
        //     +min-screen(1660px)
        //         max-width: 74.8%
        // +max-screen($breakpoint-lg)
        //     max-width: 830px
        // +max-screen($breakpoint-md)
        //     max-width: 610px
    &__wrapper
        padding: 98px 155px
        border-radius: 25px
        background: $new-vizual-background-main
        box-shadow: 10px 10px 25px 0px rgba(20, 31, 56, 0.20) inset, -8px -8px 25px 0px #FFF inset

        .dark_mode &
            background: $dark-mode-background
            box-shadow: 10px 10px 25px 0px #141414 inset, -8px -8px 25px 0px #354153 inset
        +max-screen($breakpoint-xxl)
            padding: 98px 125px
        +max-screen($breakpoint-md)
            padding: 45px 30px 65px
    &__title
        line-height: 1.05
        margin-bottom: 40px
        +max-screen($breakpoint-sm)
            margin-bottom: 20px
    &__text
        &.opened
            max-height: 100%
        +max-screen($breakpoint-sm)
            // font-size: 16px
            // line-height: 1.45
            // max-height: 8.6em
            overflow: hidden
        &__readMore
            display: none
            +max-screen($breakpoint-sm)
                margin-top: 20px
                display: block
                font-size: 16px
                line-height: 1.4
                text-transform: uppercase
                text-align: right

    &__button
        margin-top: 80px
        text-align: center
        +max-screen($breakpoint-lg)
            margin-top: 50px
        +max-screen($breakpoint-md)
            margin-top: 56px
        +max-screen($breakpoint-sm)
            margin-top: 25px
