.logo 
    margin-bottom: 385px
    position: relative
    &::before 
        content: ""
        background-image: url('../assets/images/logo_clouds.png')
        background-size: cover
        background-position: center
        top: -580px 
        bottom: -405px
        width: 100%
        position: absolute
    &__wrapper 
        padding: 40px 69px 83px
        text-align: center
        position: relative
        z-index: 1
        img 
            height: 153px