.pain__solution
    margin-bottom: 245px
    position: relative
    +max-screen(1200px)
        margin-bottom: 195px
    +max-screen($breakpoint-md)
        margin-bottom: 177px
    +max-screen($breakpoint-sm)
        margin-bottom: 202px
    &::before
        // top: 274px
        // bottom: -441px
        // content: ""
        // background-image: url('../assets/images/pain__solution_clouds.png')
        // background-size: cover
        // background-position: center
        // position: absolute
        // left: 0
        // width: 100%
        // z-index: 1
        // +max-screen($breakpoint-xl)
        //     top: 244px
        //     bottom: -480px
        // +max-screen(1200px)
        //     top: calc( 100% - 380px )
        //     bottom: -180px
        // +max-screen($breakpoint-lg)
        //     background-image: url('../assets/images/landscape_pain_clouds.png')
        //     bottom: -208px
        //     top: calc( 100% - 404px)
        // +max-screen($breakpoint-md)
        //     bottom: -221px
        //     top: calc( 100% - 369px)
        //     background-position: 90%
        //     background-image: url('../assets/images/pain__solution_clouds.png')
        // +max-screen($breakpoint-sm)
        //     top: calc( 100% - 133px)
        //     bottom: -250px
        //     background-position: 55%
    &::after
        // content: ""
        // position: absolute
        // left: 0
        // right: 0
        // background: #1B233C
        // top: -475px
        // bottom: 10px
        // +max-screen($breakpoint-sm)
        //     top: -100px
        //     bottom: -120px
    .container
        max-width: 1350px
        position: relative
        z-index: 1
        +max-screen($breakpoint-xxl)
            +min-screen(1660px)
                max-width: 80.3125%
        +max-screen(1660px)
            max-width: 87%
        +max-screen($breakpoint-xl)
            max-width: 90%
        +max-screen(1200px)
            max-width: 1350px
        +max-screen($breakpoint-lg)
            max-width: 932px
            padding-left: 80px
            padding-right: 80px
        +max-screen($breakpoint-md)
            padding-left: 20px
            padding-right: 20px
        +max-screen($breakpoint-sm)
            padding-left: 22.5px
            padding-right: 22.5px
    &Block
        padding: 60px 120px
        border-radius: 25px
        +max-screen($breakpoint-xl)
            padding: 50px 80px
        +max-screen(1200px)
            padding: 45px 90px
        +max-screen($breakpoint-lg)
            padding: 60px 65px
        +max-screen($breakpoint-md)
            padding: 60px 135px 60px 85px
        +max-screen($breakpoint-sm)
            padding: 45px 30px 65px
        &__wrapper
            position: relative
    &Title
        font-size: 70px
        line-height: 1.05
        margin-bottom: 40px
        font-weight: 100
        +max-screen($breakpoint-xl)
            font-size: 64px
        +max-screen(1200px)
            font-size: 58px
        +max-screen($breakpoint-lg)
            font-size: 32px
            line-height: 1.05
            margin-bottom: 20px
        +max-screen($breakpoint-md)
            line-height: 1.2
            margin-bottom: 20px
        +max-screen($breakpoint-sm)
            font-size: 23px
            line-height: 1.2
            margin-bottom: 20px
    &Text
        font-size: 20px
        line-height: 1.4
        +max-screen(1200px)
            font-size: 18px
        +max-screen($breakpoint-lg)
            font-size: 16px
        +max-screen($breakpoint-sm)
            font-size: 14px
            line-height: 1.5
            padding-right: 11px
        p
            margin-bottom: 20px
            +max-screen($breakpoint-md)
                margin-bottom: 10px
            &:last-child
                margin-bottom: 0
        li
            padding-left: 31px
            position: relative
            margin-bottom: 20px
            +max-screen($breakpoint-lg)
                padding-left: 15.5px
            +max-screen($breakpoint-md)
                margin-bottom: 10px
            +max-screen($breakpoint-sm)
                padding-left: 15px
                br
                    display: none
            &:last-child
                margin-bottom: 0
            &::before
                content: ""
                width: 10px
                height: 10px
                background: $light-lila
                position: absolute
                left: 0
                top: 7px
                border-radius: 50%
                +max-screen($breakpoint-lg)
                    width: 5px
                    height: 5px
.pain
    background: $space-lila
    padding-right: 250px
    +max-screen(1200px)
        padding-right: 180px
    +max-screen($breakpoint-lg)
        padding-right: 135px
    +max-screen($breakpoint-md)
        padding-right: 135px
    +max-screen($breakpoint-sm)
        padding-right: 30px
    &__wrapper
        padding-right: 87px
        padding-left: 17px
        margin-bottom: 161px
        +max-screen($breakpoint-xxl)
            +min-screen(1660px)
                margin-right: calc( -9.84375% - 68px )
                overflow: hidden
                padding-right: calc( 9.84375% + 87px )
        +max-screen(1660px)
            margin-right: calc(-6.5% - 46px )
            overflow: hidden
            padding-right: calc( 46px + 6.5%)
        +max-screen($breakpoint-xl)
            margin-right: calc( -5% - 39px )
            padding-right: 126px
            overflow: hidden
        +max-screen(1200px)
            +min-screen(1025px)
                margin-right: -30px
                padding-right: 150px
                overflow: hidden
        +max-screen($breakpoint-lg)
            padding-left: 0
            margin-right: 0
            margin-bottom: 84px
            padding-right: 150px
            overflow: visible
        +max-screen($breakpoint-md)
            margin-left: -5px
            padding-right: 130px
            margin-bottom: 91px
        +max-screen($breakpoint-sm)
            padding-right: 0
            padding-left: 0
            margin-left: 0
            margin-bottom: 214px
    &__image
        position: absolute
        top: -22px
        bottom: 35px
        right: -16%
        +max-screen($breakpoint-xxl)
            +min-screen(1660px)
                transform: translateY(-50%)
                top: 50%
                bottom: auto
                right: 2%
        +max-screen(1660px)
            top: 20px
            bottom: auto
            right: -8%
        +max-screen($breakpoint-xl)
            right: -5%
            top: 18px
            transform: none
            img
                max-width: 480px
        +max-screen(1200px)
            +min-screen(1025px)
                width: 420px
                top: 50%
                transform: translateY(-50%)
                right: -73px
                bottom: auto
                img
                    width: 100%
        +max-screen($breakpoint-lg)
            right: -50px
            top: 50%
            transform: translateY(-50%)
            img
                max-width: 330px
        +max-screen($breakpoint-md)
            bottom: 15px
            right: -20px
            top: auto
            display: none
            transform: none
            img
                max-width: 320px
        +max-screen($breakpoint-sm)
            bottom: -165px
            left: 50%
            transform: translateX(-50%)
            top: auto
            display: block
            img
                max-width: 220px
        &.no-tablet,
        &.no-desktop
            display: block
        &.tablet
            display: none
            +max-screen($breakpoint-md)
                display: block
            +max-screen($breakpoint-sm)
                display: none
.solution
    background: $turquoise
    padding-left: 250px
    position: relative
    z-index: 1
    +max-screen(1200px)
        padding-left: 180px
    +max-screen($breakpoint-lg)
        padding-left: 135px
    +max-screen($breakpoint-md)
        padding-left: 130px
        padding-right: 85px
    +max-screen($breakpoint-sm)
        padding-left: 30px
        padding-right: 30px
    &__wrapper
        padding-left: 117px
        +max-screen($breakpoint-lg)
            padding-right: 0
            padding-left: 99px
        +max-screen($breakpoint-sm)
            padding-left: 0
        &::before
            content: ""
            background-image: url('../assets/images/purple_planet.png')
            width: 586px
            height: 586px
            top: 47%
            position: absolute
            transform: translateY(-50%)
            left: -21%
            z-index: 1
            +max-screen($breakpoint-xl)
                width: 480px
                height: 480px
                top: 57%
                left: -8%
                background-size: contain
            +max-screen(1200px)
                width: 416px
                height: 416px
                left: -7%
                top: 54%
            +max-screen($breakpoint-lg)
                width: 265px
                height: 265px
                left: -53px
                top: auto
                bottom: 36px
                transform: none
            +max-screen($breakpoint-md)
                left: 0
                bottom: 2px
                top: auto
            +max-screen($breakpoint-sm)
                position: absolute
                left: -16px
                top: auto
                width: 180px
                bottom: -141px
                height: 180px
    &__image
        position: absolute
        left: -20%
        top: 52%
        transform: translateY(-50%)
        +max-screen($breakpoint-xl)
            left: -15%
            img
                width: 420px
        +max-screen(1200px)
            width: 350px
            left: -16%
            img
                width: 100%
        +max-screen($breakpoint-lg)
            left: -123px
            bottom: 14px
            top: auto
            transform: none
            width: auto
            img
                max-width: 285px
        +max-screen($breakpoint-md)
            display: none
            left: -134px
            transform: none
            bottom: -21px
            top: auto
        +max-screen($breakpoint-sm)
            display: block
            position: absolute
            top: auto
            bottom: -145px
            left: 64.5px
            img
                width: 187px
        &.no-tablet,
        &.no-desktop
            display: block
        &.tablet
            display: none
            +max-screen($breakpoint-md)
                display: block
            +max-screen($breakpoint-sm)
                display: none
