.processes
    margin-bottom: 465px
    position: relative
    &::before 
        content: ""
        background-image: url('../assets/images/White_Clouds_bg_before_footer.png')
        background-size: cover 
        background-position: center
        left: 0
        width: 100%
        top: -874px
        bottom: -708px
        position: absolute
    .container
        position: relative
        z-index: 1
        max-width: 1420px 

    &__title 
        font-size: 70px
        line-height: 1.05
        margin-bottom: 12px
        color: $space-lila
        text-align: center
        font-weight: 300
    &__item 
        display: flex 
        &Content
            margin-left: 33px
            padding-top: 23px
        &Number 
            font-size: 100px
            line-height: 1
            color: #D866FD
            position: relative
            width: 42px 
            display: flex 
            justify-content: flex-end
            min-width: 42px 
            &::after 
                content: ""
                position: absolute
                right: -15px 
                top: 23px 
                width: 2px 
                bottom: 0
                background: #D866FD
                border-radius: 2px 
        &Title 
            color: #D866FD
            font-weight: 700
        &Text 
            color: #141F38
            font-size: 20px
            line-height: 1.4
            margin-top: 4px
    &__image
        position: absolute
        top: 47%
        transform: translateY(-50%)
        left: 40px 
        width: 80%
        img
            width: 100%
    &__button 
        margin-top: 35px
        text-align: center
    &__column 
        &:nth-child(1)
            .processes__item
                max-width: 355px
                &:nth-child(1)
                    margin-bottom: 532px
                &:nth-child(2)
                    .processes__itemTitle,
                    .processes__itemNumber
                        color: #CC03DF
                    .processes__itemNumber::after 
                        background: #CC03DF
        &:nth-child(2)
            margin-top: 50px
            .processes__item
                max-width: 372px
            .processes__itemTitle,
            .processes__itemNumber
                color: #9A3BA3
            .processes__itemNumber::after 
                background: #9A3BA3
        &:nth-child(3)
            display: flex 
            flex-direction: column-reverse
            .processes__item
                max-width: 345px
                &:nth-child(1)
                    margin-top: 124px
                    .processes__itemTitle,
                    .processes__itemNumber
                        color: #702F8A
                    .processes__itemNumber::after 
                        background: #702F8A
                &:nth-child(2)
                    margin-left: auto
                    .processes__itemTitle,
                    .processes__itemNumber
                        color: #372C4E
                    .processes__itemNumber::after 
                        background: #372C4E
