.processes
    margin-bottom: 465px
    position: relative
    +max-screen(1200px)
        margin-bottom: 265px
    +max-screen($breakpoint-lg)
        padding-bottom: 170px
        margin-bottom: 0
        background: #fff
    +max-screen($breakpoint-md)
        padding-bottom: 163px
    +max-screen($breakpoint-sm)
        margin-bottom: 0
        padding-bottom: 104px
    &::before 
        content: ""
        background-image: url('../assets/images/White_Clouds_bg_before_footer.png')
        background-size: cover 
        background-position: center
        left: 0
        width: 100%
        top: -874px
        bottom: -708px
        position: absolute
        +max-screen($breakpoint-lg)
            top: -317px
            bottom: calc( 100% - 707px )
        +max-screen($breakpoint-md)
            top: -271px
            bottom: calc( 100% - 484px)
        +max-screen($breakpoint-sm)
            top: -140px
            background-position: top center
            bottom: calc( 100% - 244px )
    .container
        position: relative
        z-index: 1
        max-width: 1420px 
        +max-screen($breakpoint-lg)
            max-width: 872px
        +max-screen($breakpoint-md)
            max-width: 706px 
            padding-right: 39px
        +max-screen($breakpoint-sm)
            max-width: 405px 
            padding-right: 20px
    &__title 
        font-size: 70px
        line-height: 1.05
        margin-bottom: 12px
        color: $space-lila
        text-align: center
        font-weight: 300
        +max-screen($breakpoint-lg)
            font-size: 52px
            margin-bottom: 0
        +max-screen($breakpoint-md)
            padding-left: 47px
            text-align: left
        +max-screen($breakpoint-sm)
            font-size: 32px
            text-align: left
            margin-bottom: 20px
            padding-left: 0
    &__list 
        +max-screen($breakpoint-lg)
            padding-right: 20px
            width: 275px 
            padding-top: 47px
        +max-screen($breakpoint-md)
            padding-top: 100px
            padding-right: 0
            width: 100%
        +max-screen($breakpoint-sm)
            max-width: 360px 
            margin: auto
            padding-top: 45px
    &__content
        +max-screen($breakpoint-lg)
            display: flex 
            justify-content: flex-end
        +max-screen($breakpoint-md)
            display: block
    &__item 
        display: flex 
        &Content
            margin-left: 33px
            padding-top: 23px
            +max-screen($breakpoint-lg)
                margin-left: 25px
            +max-screen($breakpoint-sm)
                margin-left: 17px
                padding-top: 10px
                max-width: calc( 100% - 33px )
        &Number 
            font-size: 100px
            line-height: 1
            color: #D866FD
            position: relative
            width: 42px 
            display: flex 
            justify-content: flex-end
            min-width: 42px 
            font-weight: 700
            +max-screen($breakpoint-lg)
                font-size: 70px
            +max-screen($breakpoint-sm)
                font-size: 36px
                width: 16px
                min-width: 16px
            &::after 
                content: ""
                position: absolute
                right: -15px 
                top: 23px 
                width: 2px 
                bottom: 0
                background: #D866FD
                border-radius: 2px 
                +max-screen($breakpoint-lg)
                    right: -12px
                +max-screen($breakpoint-sm)
                    right: -8px
                    top: 8px
        &Title 
            color: #D866FD
            font-weight: 700
            +max-screen($breakpoint-lg)
                font-size: 16px
            +max-screen($breakpoint-sm)
                font-size: 10px
                line-height: 1.4
        &Text 
            color: #141F38
            font-size: 20px
            line-height: 1.4
            margin-top: 4px
            +max-screen($breakpoint-lg)
                font-size: 10px
                margin-top: 10px
                br 
                    display: none
            +max-screen($breakpoint-sm)
                font-size: 8px
                line-height: 1.4
                margin-top: 2.5px
                br 
                    display: none
    &__image
        position: absolute
        top: 47%
        transform: translateY(-50%)
        left: 40px 
        width: 80%
        background-image: url('../assets/images/processes_image.png')
        background-size: contain
        background-position: center 
        background-repeat: no-repeat
        height: 100%
        +max-screen($breakpoint-lg)
            background-image: url('../assets/images/landscape_processes_image.png')
            width: calc( 100% - 352px)
            left: 0
            top: 42px 
            bottom: 132px 
            height: calc( 100% - 174px )
            transform: none
        +max-screen($breakpoint-md)
            background-image: url('../assets/images/processes_tablet_image.png')
            top: 94px 
            bottom: 118px 
            height: calc( 100% - 212px )
            transform: none
            left: 50%
            transform: translateX(-50%)
            width: 100%
        +max-screen($breakpoint-sm) 
            width: 55%
            top: 54px 
            transform: translateX(-50%)
            left: 50%
            bottom: 128px 
            height: calc( 100% - 182px )
            background-image: url('../assets/images/mobile_process_image.png')
        +max-screen(450px)
            left: 53%
        img
            width: 100%
            +max-screen($breakpoint-sm) 
                max-height: 100%
                object-fit: contain
        &.desktop 
            +max-screen($breakpoint-sm)
                display: none
        &.mobile 
            display: none 
            +max-screen($breakpoint-sm)
                display: block 
    &__button 
        margin-top: 35px
        text-align: center
        +max-screen($breakpoint-lg)
            margin-top: 128px
        +max-screen($breakpoint-md)
            margin-top: 97px
        +max-screen($breakpoint-sm)
            margin-top: 77px
    &__column 
        +max-screen($breakpoint-sm)
            display: flex 
        &:nth-child(1)
            .processes__item
                max-width: 355px
                &Number 
                    +max-screen($breakpoint-md)
                        width: 29px
                        min-width: 29px
                    +max-screen($breakpoint-sm)
                        width: 16px
                        min-width: 16px
                +max-screen($breakpoint-md)
                    max-width: 250px
                +max-screen($breakpoint-sm)
                    flex-wrap: wrap
                &:nth-child(1)
                    margin-bottom: 532px
                    +max-screen($breakpoint-lg)
                        margin-bottom: 30px
                    +max-screen($breakpoint-md)
                        margin-bottom: 50px
                        max-width: 242px
                    +max-screen($breakpoint-sm)
                        margin-bottom: 0
                        width: 40%
                    &::after 
                        +max-screen($breakpoint-sm)
                            content: ""
                            padding-bottom: calc( 100% - 16px )
                            display: block
                            width: 100%
                &:nth-child(2)
                    +max-screen($breakpoint-md)
                        margin-left: auto
                        
                    +max-screen($breakpoint-sm)
                        margin-top: auto
                        width: 44.5%
                    .processes__itemTitle,
                    .processes__itemNumber
                        color: #CC03DF
                    .processes__itemNumber::after 
                        background: #CC03DF
        &:nth-child(2)
            margin-top: 50px
            +max-screen($breakpoint-lg)
                margin-top: 30px
            +max-screen($breakpoint-md)
                margin-top: 69px
            +max-screen($breakpoint-sm)
                margin-top: 12px
            .processes__item
                max-width: 372px
                +max-screen($breakpoint-md)
                    max-width: 250px
                +max-screen($breakpoint-sm)
                    max-width: 39.5%
            .processes__itemTitle,
            .processes__itemNumber
                color: #9A3BA3
            .processes__itemNumber::after 
                background: #9A3BA3
        &:nth-child(3)
            display: flex 
            flex-direction: column-reverse
            +max-screen($breakpoint-lg)
                flex-direction: column
            +max-screen($breakpoint-md)
                margin-top: 102px
            +max-screen($breakpoint-sm)
                margin-top: 12px
            .processes__item
                max-width: 345px
                +max-screen($breakpoint-md)
                    max-width: 250px
                &:nth-child(1)
                    margin-top: 124px
                    +max-screen($breakpoint-lg)
                        margin-top: 46px
                    +max-screen($breakpoint-md)
                        margin-right: 0
                        margin-left: auto
                        margin-top: 0
                    +max-screen($breakpoint-sm)
                        margin-left: auto
                        margin-top: 0
                        max-width: 41.5%
                    .processes__itemTitle,
                    .processes__itemNumber
                        color: #702F8A
                    .processes__itemNumber::after 
                        background: #702F8A
                &:nth-child(2)
                    margin-left: auto
                    +max-screen($breakpoint-lg)
                        margin-top: 68px
                    +max-screen($breakpoint-md)
                        margin-top: 120px
                        margin-left: 0
                        margin-right: auto
                    +max-screen($breakpoint-sm)
                        margin-top: 23px
                        max-width: 41.75%
                        margin-left: 0
                    .processes__itemTitle,
                    .processes__itemNumber
                        color: #372C4E
                    .processes__itemNumber::after 
                        background: #372C4E
