.services
    margin-bottom: 278px
    position: relative
    +max-screen($breakpoint-lg)
        margin-bottom: 109px
    +max-screen($breakpoint-md)
        margin-bottom: 120px
    +max-screen($breakpoint-sm)
        margin-bottom: 99px
    // &::before
    //     content: ""
    //     background: #1b233c
    //     left: 0
    //     width: 100%
    //     top: -300px
    //     bottom: -500px
    //     position: absolute
    //     +max-screen($breakpoint-sm)
    //         top: -100px
    //         bottom: -150px
    .container
        max-width: 1685px
        position: relative
        z-index: 1
        +max-screen($breakpoint-xxl)
            +min-screen(1660px)
                max-width: 87.76%
        +max-screen(1660px)
            max-width: 90%
        +max-screen($breakpoint-xl)
            max-width: 88%
        +max-screen(1200px)
            max-width: 1685px
        +max-screen($breakpoint-lg)
            max-width: 830px
        +max-screen($breakpoint-md)
            max-width: 768px
            padding-left: 15px
            padding-right: 15px
    &__inner
        padding: 136px 57px
        background: $color-bg-light
        box-shadow: 10px 10px 25px 0px rgba(20, 31, 56, 0.20), -8px -8px 25px 0px #FFF
        border-radius: 30px
    &__top
        max-width: 1235px
        margin: 0 auto
        +max-screen(1200px)
            padding-left: 80px
            padding-right: 80px
        +max-screen($breakpoint-lg)
            padding-left: 0
            padding-right: 0
        +max-screen($breakpoint-md)
            max-width: 581px
        &Title
            font-size: 70px
            line-height: 1.05
            text-align: center
            margin-bottom: 40px
            font-weight: 100
            +max-screen($breakpoint-xl)
                font-size: 64px
            +max-screen(1200px)
                font-size: 58px
            +max-screen($breakpoint-lg)
                font-size: 52px
            +max-screen($breakpoint-sm)
                font-size: 26px
                line-height: 1.2
                margin-bottom: 20px
                text-align: left
        &Text
            font-size: 24px
            line-height: 1.4
            +max-screen($breakpoint-xl)
                font-size: 22px
            +max-screen(1200px)
                font-size: 20px
            +max-screen($breakpoint-sm)
                font-size: 16px
                line-height: 1.45
            p
                margin-bottom: 24px
                &:last-child
                    margin-bottom: 0
            strong
                color: $s-pink
    &__cards
        margin-top: 122px
        margin-left: 0
        margin-right: 0
        +max-screen($breakpoint-xl)
            margin-top: 84px
        +max-screen(1660px)
            margin-left: -5%
            margin-right: -5%
        +max-screen(1300px)
            margin-left: -3%
            margin-right: -3%
        +max-screen(1200px)
            margin-top: 72px
            margin-left: 0
            margin-right: 0
        +max-screen($breakpoint-lg)
            margin-top: 92px
        +max-screen($breakpoint-md)
            margin-top: 68px
        +max-screen($breakpoint-sm)
            margin-top: 20px
        &Item
            background-size: cover
            background-position: center
            display: flex
            align-items: center
            flex-direction: column
            padding-top: 60px
            padding-left: 30px
            padding-right: 30px
            position: relative
            border-radius: 25px
            border: 3px solid #1B233C
            overflow: hidden
            height: 100%
            padding-bottom: 61px
            +max-screen($breakpoint-xl)
                padding: 32px 18px 32px
            +max-screen($breakpoint-lg)
                padding: 25px 13.6px 15px 13.6px
            +max-screen($breakpoint-sm)
                padding-top: 17px
                padding-bottom: 17px
            &__wrapper
                padding: 0
                position: relative
                max-width: 23.5%
                flex: 0 0 23.5%
                +max-screen($breakpoint-sm)
                    max-width: 50%
                &:nth-child(4n + 1)
                    .services__cardsItem__title
                        color: #702F8A
                    &::after
                        content: ""
                        position: absolute
                        right: -3px
                        top: 50%
                        width: 68px
                        height: 68px
                        background-image: url(../assets/images/card_puzzle.png)
                        transform: translateY(-50%)
                        background-size: cover
                        background-repeat: no-repeat
                        background-position: center
                        z-index: 1
                        +max-screen($breakpoint-xl)
                            width: 34px
                            height: 34px
                        +max-screen(1200px)
                            width: 32px
                            height: 32px
                        +max-screen($breakpoint-lg)
                            width: 25px
                            height: 25px
                        +max-screen($breakpoint-md)
                            width: 23px
                            height: 23px
                        +max-screen($breakpoint-sm)
                            width: 22px
                            height: 22px
                    &::before
                        +max-screen($breakpoint-sm)
                            content: ""
                            width: 26px
                            height: 26px
                            transform: translateX(-50%)
                            left: 50%
                            bottom: -7px
                            border-radius: 50%
                            position: absolute
                            background: #1b233c
                            z-index: 1
                    .services__cardsItem
                        background: #D75EFF
                        +max-screen($breakpoint-sm)
                            padding-left: 24px
                            padding-right: 16px
                        &::before
                            content: ""
                            background-image: url('../assets/images/card_layout.png')
                            width: 100%
                            height: 100%
                            background-size: cover
                            background-position: center
                            position: absolute
                            left: 0
                            top: 0
                            +max-screen($breakpoint-lg)
                                background-image: url('../assets/images/card_1_landscape_background.png')
                            +max-screen($breakpoint-sm)
                                background-image: url('../assets/images/card_layout.png')
                        &::after
                            content: ""
                            width: 73px
                            height: 73px
                            -webkit-transform: translateY(-50%)
                            transform: translateY(-50%)
                            top: 50%
                            right: -7px
                            border-radius: 50%
                            position: absolute
                            background: #1b233c
                            +max-screen($breakpoint-xl)
                                width: 38px
                                height: 38px
                            +max-screen(1200px)
                                width: 36px
                                height: 36px
                            +max-screen($breakpoint-lg)
                                width: 27px
                                height: 27px
                                right: -6px
                            +max-screen($breakpoint-md)
                                width: 26px
                                height: 26px
                                right: -7px
                            +max-screen($breakpoint-sm)
                                width: 26px
                                height: 26px
                &:nth-child(4n + 2)
                    .services__cardsItem__title
                        color: #1B233C
                    .services__cardsItem
                        background: #CC03DF
                        &::before
                            content: ""
                            background-image: url('../assets/images/card_2_layout.png')
                            width: 100%
                            height: 100%
                            background-size: cover
                            background-position: center
                            position: absolute
                            left: 0
                            top: 0
                            background-position: bottom
                            +max-screen($breakpoint-lg)
                                background-image: url('../assets/images/card_2_landscape_background.png')
                            +max-screen($breakpoint-sm)
                                background-image: url('../assets/images/card_2_layout.png')
                &:nth-child(4n + 3)
                    +max-screen($breakpoint-sm)
                        z-index: 1
                    .services__cardsItem__title
                        color: #D75EFF
                    &::after
                        content: ""
                        position: absolute
                        left: -3px
                        top: 50%
                        width: 68px
                        height: 68px
                        background-image: url(../assets/images/card_puzzle_2.png)
                        transform: translateY(-50%)
                        background-size: cover
                        background-repeat: no-repeat
                        background-position: center
                        z-index: 1
                        +max-screen($breakpoint-xl)
                            width: 34px
                            height: 34px
                        +max-screen(1200px)
                            width: 32px
                            height: 32px
                        +max-screen($breakpoint-lg)
                            width: 25px
                            height: 25px
                        +max-screen($breakpoint-md)
                            width: 23px
                            height: 23px
                        +max-screen($breakpoint-sm)
                            width: 25px
                            height: 22px
                            background-image: url(../assets/images/card_puzzle_3_mobile.png)
                            position: absolute
                            left: 50%
                            transform: translateX(-50%)
                            top: -18.7px
                    &::before
                        content: ""
                        width: 73px
                        height: 73px
                        -webkit-transform: translateY(-50%)
                        transform: translateY(-50%)
                        top: 50%
                        right: -7px
                        border-radius: 50%
                        position: absolute
                        background: #1b233c
                        z-index: 1
                        +max-screen($breakpoint-xl)
                            width: 38px
                            height: 38px
                        +max-screen(1200px)
                            width: 36px
                            height: 36px
                        +max-screen($breakpoint-lg)
                            width: 28px
                            height: 28px
                        +max-screen($breakpoint-md)
                            width: 26px
                            height: 26px
                        +max-screen($breakpoint-sm)
                            width: 24px
                            height: 24px
                            right: -2px
                    .services__cardsItem
                        background: #702F8A
                        position: relative
                        border-radius: 25px
                        border: 3px solid #1B233C
                        overflow: hidden
                        padding-left: 14px
                        padding-right: 14px
                        &::before
                            content: ""
                            background-image: url('../assets/images/card_layout_3.png')
                            width: 100%
                            height: 100%
                            background-size: cover
                            background-position: center
                            position: absolute
                            left: 0
                            top: 0
                            +max-screen($breakpoint-lg)
                                background-image: url('../assets/images/card_3_landscape_background.png')
                            +max-screen($breakpoint-sm)
                                background-image: url('../assets/images/card_3_mobile_background.png')
                        &::after
                            content: ""
                            width: 73px
                            height: 73px
                            -webkit-transform: translateY(-50%)
                            transform: translateY(-50%)
                            top: 50%
                            left: -7px
                            border-radius: 50%
                            position: absolute
                            background: #1b233c
                            +max-screen($breakpoint-xl)
                                width: 38px
                                height: 38px
                            +max-screen(1200px)
                                width: 36px
                                height: 36px
                            +max-screen($breakpoint-lg)
                                width: 28px
                                height: 28px
                            +max-screen($breakpoint-md)
                                width: 25px
                                height: 25px
                            +max-screen($breakpoint-sm)
                                content: none
                &:nth-child(4n + 4)
                    padding-left: 60px
                    margin-top: -30px
                    max-width: 29.5%
                    flex: 0 0 29.5%
                    transform: translateX(10px)
                    height: 100%
                    +max-screen(1660px)
                        transform: none
                    +max-screen($breakpoint-xl)
                        padding-left: 34px
                    +max-screen(1200px)
                        padding-left: 32px
                        transform: none
                        height: auto
                    +max-screen($breakpoint-lg)
                        flex: 0 0 28%
                        max-width: 28%
                        padding-left: 25px
                        margin-left: -12px
                        margin-top: 0
                        z-index: 3
                        transform: translate(9px, -16px)
                    +max-screen($breakpoint-md)
                        padding-left: 23px
                        flex: 0 0 28%
                        margin-left: -10px
                        z-index: 2
                        margin-top: 0
                        transform: translateY(-15px)
                    +max-screen($breakpoint-sm)
                        max-width: 50%
                        margin-top: 0
                        transform: translate(10px, -10px )
                        z-index: 2
                        flex: none
                        padding-left: 0
                    .services__cardsItem__title
                        color: #1B233C
                        text-align: center
                        margin-top: 18px
                        +max-screen($breakpoint-lg)
                            padding: 0 5px
                        +max-screen($breakpoint-md)
                            margin-top: 9px
                            padding: 0 5px
                        +max-screen($breakpoint-sm)
                            padding: 0 4.5px
                    .services__cardsItem__text
                        margin-top: 5.4px
                        padding-left: 12px
                        +max-screen($breakpoint-lg)
                            padding-left: 5px
                        +max-screen($breakpoint-md)
                            padding-left: 0
                            br
                                display: none
                        +max-screen($breakpoint-sm)
                            padding-left: 9px
                    &::before
                        +max-screen($breakpoint-sm)
                            content: ""
                            background-image: url('../assets/images/mobile_4_card_puzzle.png')
                            width: 27px
                            height: 30px
                            background-size: contain
                            background-position: 50%
                            position: absolute
                            left: 50%
                            -webkit-transform: rotate(-6.09deg) translate(-100%,2%)
                            transform: rotate(-6.09deg) translate(-100%,-6%)
                            top: -2px
                            z-index: 3
                            background-repeat: no-repeat
                    &::after
                        content: ""
                        position: absolute
                        left: 1.4px
                        top: 50%
                        width: 65px
                        height: 65px
                        background-image: url(../assets/images/card_puzzle_4_1.png)
                        background-size: cover
                        background-repeat: no-repeat
                        background-position: center
                        z-index: 1
                        transform: rotate(-8.87deg) translateY(-25%)
                        +max-screen($breakpoint-xl)
                            width: 34px
                            height: 34px
                            left: 4.49px
                        +max-screen(1200px)
                            width: 32px
                            height: 32px
                            left: 6px
                        +max-screen($breakpoint-lg)
                            width: 25px
                            height: 25px
                            left: 5.49px
                            top: 53%
                        +max-screen($breakpoint-md)
                            width: 23px
                            height: 23px
                        +max-screen($breakpoint-sm)
                            width: 22px
                            height: 22px
                            transform: none
                            left: -17.5px
                            transform: rotate(-6.09deg) translate(4%, -17%)
                            z-index: 3
                    .services__cardsItem
                        background: #0C869D
                        border: 4px solid #1b233c
                        transform: rotate(-8.87deg)
                        +max-screen(1200px)
                            height: 97%
                        +max-screen($breakpoint-lg)
                            height: 100%
                        +max-screen($breakpoint-sm)
                            transform: rotate(-6.09deg)
                            padding-left: 10px
                            padding-right: 10px
                            padding-top: 29px
                            z-index: 2
                        &::before
                            content: ""
                            background-image: url('../assets/images/card_layout_4.png')
                            background-size: cover
                            background-position: center
                            width: 100%
                            height: 100%
                            left: 0
                            top: 0
                            position: absolute
                            background-position: top
                            +max-screen($breakpoint-lg)
                                background-image: url('../assets/images/card_4_landscape_background.png')
                            +max-screen($breakpoint-sm)
                                background-image: url('../assets/images/card_layout_4.png')
                &:nth-child(4n + 1),
                &:nth-child(4n + 2),
                &:nth-child(4n + 3)
                    +max-screen($breakpoint-lg)
                        flex: 0 0 24%
                        max-width: 24%
                    +max-screen($breakpoint-sm)
                        flex: 0 0 50%
                        max-width: 50%
            &__text
                font-size: 20px
                line-height: 1.4
                margin-top: 26px
                z-index: 1
                position: relative
                +max-screen($breakpoint-xl)
                    margin-top: 18px
                    font-size: 16px
                +max-screen($breakpoint-lg)
                    font-size: 10px
                    margin-top: 12px
                +max-screen($breakpoint-md)
                    font-size: 9.57px
                +max-screen($breakpoint-sm)
                    font-size: 9px
                    line-height: 1.4
                    margin-top: 10px
            &__image
                z-index: 1
                position: relative
                img
                    +max-screen($breakpoint-xl)
                        max-width: 100px
                    +max-screen($breakpoint-lg)
                        max-width: 71px
                    +max-screen($breakpoint-md)
                        max-width: 68px
                    +max-screen($breakpoint-sm)
                        max-width: 60px
            &__title
                font-size: 36px
                line-height: 1.05
                margin-top: 46px
                z-index: 1
                position: relative
                +max-screen($breakpoint-xl)
                    font-size: 30px
                    margin-top: 32px
                +max-screen(1200px)
                    font-size: 26px
                    margin-top: 24px
                +max-screen($breakpoint-lg)
                    font-size: 17.05px
                    margin-top: 22px
                +max-screen($breakpoint-md)
                    font-size: 16.32px
                +max-screen($breakpoint-sm)
                    font-size: 14px
                    margin-top: 18px
    &__text
        max-width: 1235px
        margin: 0 auto
        font-size: 24px
        margin-top: 112px
        line-height: 1.4
        +max-screen($breakpoint-xl)
            font-size: 22px
        +max-screen(1200px)
            padding-left: 80px
            padding-right: 80px
            margin-top: 62px
            font-size: 20px
        +max-screen($breakpoint-lg)
            margin-top: 50px
            padding-left: 0
            padding-right: 0
        +max-screen($breakpoint-md)
            margin-top: 40px
            max-width: 581px
            margin-left: auto
            margin-right: auto
        +max-screen($breakpoint-sm)
            font-size: 16px
            line-height: 1.45
            margin-top: 20px
        p
            margin-bottom: 24px
            +max-screen($breakpoint-sm)
                margin-bottom: 22px
            &:last-child
                margin-bottom: 0
    &__btn
        text-align: center
        margin-top: 53.5px
        +max-screen($breakpoint-lg)
            margin-top: 75px
        +max-screen($breakpoint-md)
            margin-top: 40px
