.services
    margin-bottom: 181px
    position: relative
    z-index: 1
    +max-screen($breakpoint-lg)
        margin-bottom: 120px
    +max-screen($breakpoint-md)
        margin-bottom: 120px
    +max-screen($breakpoint-sm)
        margin-bottom: 99px
    // &::before

    .container
        max-width: calc(1739px + 60px)
        position: relative
        z-index: 1
        +max-screen($breakpoint-xxl)
            +min-screen(1660px)
                max-width: 1400px
                margin-left: auto
                margin-right: auto
        +max-screen(1660px)
            max-width: 85%
        +max-screen($breakpoint-xl)
            max-width: 85%
        +max-screen(1200px)
            max-width: 1685px
        +max-screen($breakpoint-lg)
            max-width: 830px
        +max-screen($breakpoint-md)
            max-width: 768px
            // padding-left: 15px
            // padding-right: 15px
    &__inner
        padding: 116px 77px 106px 47px
        background: $color-bg-light
        box-shadow: 10px 10px 25px 0px rgba(20, 31, 56, 0.20), -8px -8px 25px 0px #FFF
        border-radius: 30px
        .dark_mode &
            background: $dark-mode-background
            box-shadow: 10px 10px 25px #141414, -8px -8px 25px #354153
        +max-screen($breakpoint-xxl)
            padding: 96px 77px 86px 47px
        +max-screen($breakpoint-lg)
            padding: 86px 37px 86px 37px
        +max-screen($breakpoint-sm)
            padding: 86px 17px 86px 17px
    &__top
        max-width: 1135px
        margin: 0 auto
        +max-screen(1200px)
            padding-left: 80px
            padding-right: 80px
        +max-screen($breakpoint-lg)
            padding-left: 0
            padding-right: 0
        +max-screen($breakpoint-md)
            max-width: 581px
        &Title
            text-align: center
            margin-bottom: 40px
            +max-screen($breakpoint-sm)
                margin-bottom: 20px
                text-align: left
        &Text
            font-size: 20px
            line-height: 1.4
            +max-screen($breakpoint-xl)
                font-size: 18px
            +max-screen(1200px)
                font-size: 18px
            +max-screen($breakpoint-sm)
                font-size: 16px
                line-height: 1.45
            p
                margin-bottom: 20px
                &:last-child
                    margin-bottom: 0
            strong
                color: $s-pink
                .dark_mode &
                    color: $gold
    &__cards
        margin-top: 109px
        margin-left: 0
        margin-right: 0
        
        +max-screen($breakpoint-xl)
            margin-top: 84px
            max-width: calc(380px * 2)
            margin-left: auto
            margin-right: auto
        +max-screen(1660px)
            // margin-left: -5%
            // margin-right: -5%
        +max-screen(1300px)
            margin-left: -3%
            margin-right: -3%
        +max-screen(1200px)
            margin-top: 72px
            margin-left: 0
            margin-right: 0
        +max-screen($breakpoint-lg)
            margin-top: 92px
            margin-bottom: 92px
        +max-screen($breakpoint-md)
        +max-screen($breakpoint-sm)

        &Item
            background-size: cover
            background-position: center
            display: flex
            align-items: center
            flex-direction: column
            padding-top: 70px
            padding-left: 30px
            padding-right: 30px
            position: relative
            border-radius: 25px
            overflow: hidden
            height: 100%
            padding-bottom: 41px
            border: 2px solid #D75EFF
            // filter: drop-shadow(0 0 10px rgba(20,31,56,.1))
            background-color: #ececec
            +max-screen($breakpoint-xxl)
                padding: 42px 23px 42px
            +max-screen($breakpoint-xxs)
                padding: 32px 18px 32px
            +max-screen($breakpoint-xl)
                padding: 42px 30px
            +max-screen($breakpoint-md)
                padding: 43px 31px 70px 31px
            +max-screen($breakpoint-sm)
                padding: 65px 21px 65px 21px
            &__wrapper
                padding: 0
                position: relative
                max-width: 23.8%
                flex: 0 0 23.8%
                margin-left: -3px
                +max-screen($breakpoint-xl)
                    max-width: 50%
                    flex: 1 1 auto
                +max-screen($breakpoint-md)
                    max-width: 350px
                    margin-left: auto
                    margin-right: auto
                    flex: 1 1 auto
                &::before
                    content: ""
                    position: absolute
                    top: 50%
                    right: -57px
                    width: 60px
                    height: 71px
                    background-image: url(../assets/images/puzzles/puzzle-2-right-4.png)
                    transform: translateY(-50%)
                    background-size: cover
                    background-repeat: no-repeat
                    background-position: center
                    z-index: 110
                    +max-screen($breakpoint-xxl)
                        width: 50px
                        height: 59px
                        right: -47px
                    +max-screen($breakpoint-xl)
                        width: 44px
                        height: 52px
                    +max-screen($breakpoint-md)
                        width: 59px
                        height: 71px
                &::after
                    content: ""
                    position: absolute
                    top: 50%
                    left: -57px
                    width: 60px
                    height: 71px
                    background-image: url(../assets/images/puzzles/puzzle-2-left-4.png)
                    transform: translateY(-50%)
                    background-size: cover
                    background-repeat: no-repeat
                    background-position: center
                    z-index: 110
                    .dark_mode &
                        // right: -16.4px
                        background-image: url(../assets/images/puzzles/puzzle-2-left-dark.png)
                    +max-screen($breakpoint-xxl)
                        width: 50px
                        height: 59px
                        left: -47px
                        .dark_mode &
                            // right: -14px
                    +max-screen($breakpoint-xl)
                        width: 44px
                        height: 52px
                        left: -41px
                        // .dark_mode &
                        //     right: -9.4px
                    +max-screen(1200px)

                    // +max-screen($breakpoint-lg)
                    //     --size: 114px
                    //     width: var(--size)
                    //     height: var(--size)
                    //     right: calc( 50% - (var(--size)/2) )
                    //     top: auto
                    //     bottom: -33.5px
                    //     border-radius: 0
                    //     transform: none
                    //     opacity: 1
                    //     background-image: url(../assets/images/mobile_puzzle_1.svg)
                    //     background-size: 101%
                    //     // .dark_mode &
                    //     //     right: calc( 50% - (var(--size)/2) )
                    //     //     background-size: 101%
                    //     //     background-image: url(../assets/images/mobile_puzzle_1_dark.svg)
                    //     //     bottom: -38.5px
                    +max-screen($breakpoint-md)
                        left: 50%
                        top: -63px
                        transform: translate(-50%, 0) rotate(90deg)
                        width: 59px
                        height: 71px

                &:first-child
                    margin-left: 0
                    z-index: 15
                    +max-screen($breakpoint-md)
                        margin-left: auto
                    .services__cardsItem
                        border-color: $light-lila
                        background-color: transparentize($light-lila, 0.9)
                        .dark_mode &
                            border-color: $light-gold
                            background-color: transparentize($border-color, 0.9)
                    &::before
                        display: none
                    &::after
                        display: none
                &:nth-child(2)
                    &::before
                        .dark_mode &
                            background-image: url(../assets/images/puzzles/puzzle-2-right-dark.png)
                        +max-screen($breakpoint-xl) 
                            display: none
                        +max-screen($breakpoint-md)
                            display: block
                            left: 50%
                            top: unset
                            bottom: -63px
                            transform: translateX(-50%) translateY(0) rotate(90deg)
                    .services__cardsItem
                        border-color: $s-pink
                        background-color: transparentize($s-pink, 0.9)
                        z-index: 10
                        .dark_mode &
                            border-color: $gold
                            background-color: transparentize($gold, 0.9)
                        +max-screen($breakpoint-md)
                            padding-left: 24px
                            padding-right: 16px
                &:nth-child(3)
                    z-index: 5
                    .services__cardsItem
                        border-color: $space-lila
                        background-color: transparentize($space-lila, 0.9)
                        .dark_mode &
                            border-color: $dark-gold
                            background-color: transparentize($dark-gold, 0.9)
                    &::after
                        right: 0
                        left: unset
                        background-image: url(../assets/images/puzzles/puzzle-3-right.png)
                        z-index: 110
                        .dark_mode &
                            background-image: url(../assets/images/puzzles/puzzle-3-right-dark.png)
                        +max-screen($breakpoint-md)
                            right: unset
                            left: 50%
                            top: unset
                            bottom: -6px
                        .dark_mode &
                            // background-image: url(../assets/images/card_puzzle_new_dark.svg)
    
                    &::before
                        display: none
                &:nth-child(4)
                    padding-left: 60px
                    margin-top: -30px
                    max-width: 28.6%
                    flex: 0 0 28.6%
                    transform: translateX(10px)
                    height: 100%
                    &::before
                        display: none
                    +max-screen($breakpoint-xl)
                        max-width: 50%
                        flex: 1 1 auto
                        margin-top: 65px
                    +max-screen($breakpoint-md)
                        padding-left: 0
                    +max-screen($breakpoint-md)
                        max-width: 350px
                    .services__cardsItem
                        border-color: $lila
                        background-color: transparentize($lila, 0.9)
                        transform: rotate(-9deg)
                        +max-screen($breakpoint-lg)
                            transform: rotate(-9deg) translate(0)
                        .dark_mode &
                            border-color: #D2C390
                            background-color: transparentize(#D2C390, 0.9)
                        &__title
                            margin-top: 15px
                            text-align: center
                    &::after
                        left: 12px
                        background-image: url(../assets/images/puzzles/puzzle-4-left.png)
                        transform: translateY(calc(-50% + 30px)) rotate(0)
                        z-index: 110
                        .dark_mode &
                            // right: -16.4px
                            background-image: url(../assets/images/puzzles/puzzle-4-left-dark.png)
                        +max-screen($breakpoint-xxl)
                            left: 15px
                        +max-screen($breakpoint-xl)
                            left: 22px
                            transform: translateY(-50%) rotate(0)
                        +max-screen($breakpoint-lg)
                            left: 22px
                            // top: -58px
                            // transform: translateY(-50%) rotate(-3deg)
                        +max-screen($breakpoint-md)
                            left: 50%
                            top: -58px
                            transform: translateX(-50%) rotate(90deg)
                                
            &__text
                font-size: 20px
                line-height: 1.4
                margin-top: 36px
                z-index: 2
                position: relative
                +max-screen($breakpoint-xxl)
                    margin-top: 36px
                    font-size: 16px
                +max-screen($breakpoint-xxs)
                    margin-top: 38px
                    font-size: 14px
                +max-screen($breakpoint-xl)
                    margin-top: 28px
                    font-size: 16px
                +max-screen($breakpoint-lg)
                    font-size: 16px
                    margin-top: 26px
                +max-screen($breakpoint-sm)
                    font-size: 16px
                    line-height: 1.4
                    margin-top: 10px

            &__image
                z-index: 1
                position: relative
                padding-bottom: 47%
                height: 0
                width: 100%
                +max-screen($breakpoint-xl)
                    max-width: 150px
                img
                    max-width: 100%
                    height: 100%
                    position: absolute
                    left: 50%
                    transform: translateX(-50%)
                    .dark_mode &
                        display: none
                    &.dark
                        display: none
                        .dark_mode &
                            display: block
            &__title
                font-size: 30px
                line-height: 1.05
                margin-top: 42px
                z-index: 1
                position: relative
                +max-screen($breakpoint-xxl)
                    font-size: 28px
                    margin-top: 30px
                +max-screen($breakpoint-xl)
                    font-size: 24px
                    margin-top: 26px
                +max-screen($breakpoint-lg)
                    font-size: 36px
                    margin-top: 48px
                +max-screen($breakpoint-md)
                    font-size: 32px
                    margin-top: 28px
                +max-screen($breakpoint-sm)
                    // font-size: 14px
                    // margin-top: 18px
    &__text
        max-width: 1235px
        margin: 0 auto
        font-size: 20px
        margin-top: 112px
        line-height: 1.4
        &.opened
            max-height: 100%
        +max-screen($breakpoint-xxl)
            margin-top: 92px
        +max-screen($breakpoint-xl)
            font-size: 18px
            margin-top: 82px
        +max-screen(1200px)
            padding-left: 80px
            padding-right: 80px
            margin-top: 62px
            font-size: 20px
        +max-screen($breakpoint-lg)
            margin-top: 50px
            padding-left: 0
            padding-right: 0
        +max-screen($breakpoint-md)
            margin-top: 40px
            max-width: 581px
            margin-left: auto
            margin-right: auto
        +max-screen($breakpoint-sm)
            font-size: 16px
            line-height: 1.45
            margin-top: 20px
            // max-height: 8.6em
            overflow: hidden
        p
            margin-bottom: 24px
            +max-screen($breakpoint-sm)
                margin-bottom: 22px
            &:last-child
                margin-bottom: 0
        &__readMore
            display: none
            +max-screen($breakpoint-sm)
                margin-top: 20px
                display: block
                font-size: 16px
                line-height: 1.4
                text-transform: uppercase
                text-align: right
    &__btn
        text-align: center
        margin-top: 80.0px
        +max-screen($breakpoint-lg)
            margin-top: 40px
        +max-screen($breakpoint-md)
            margin-top: 40px
