.header
    padding-top: 20px
    padding-bottom: 11px
    z-index: 1
    // position: relative
    position: fixed
    top: 0
    width: 100%
    overflow: hidden
    background: var(--new-vizual-background-main,#ececec)
    .dark_mode &
        background: $dark-mode-background
    +min-screen($breakpoint-lg)
        &.top-scroll
            top: 0
            position: fixed
            z-index: 7

    +max-screen($breakpoint-lg)
        position: static
        padding: 0
        overflow: visible
    &__mobile,
    &__mobileMenu
        display: none
        +max-screen($breakpoint-lg)
            display: block
    .container
        max-width: 1480px
        +max-screen($breakpoint-xxs)
            max-width: 1420px
            padding-left: 100px
            padding-right: 100px
        +max-screen($breakpoint-xl)

        +max-screen(1200px)
            padding-left: 80px
            padding-right: 80px

    &__content
        display: flex
        position: relative
        // justify-content: space-between
        height: 94px
        +max-screen($breakpoint-xl)
            height: 80px
        +max-screen(1200px)
            height: 72px
        +max-screen($breakpoint-lg)
            display: none
    &__logo
        // position: absolute
        // left: 50%
        // top: 50%
        // transform: translate(-50%, -50%)
        margin-right: 35px
        +max-screen($breakpoint-xl)
            margin-right: 25px
        img
            height: 94px
            .dark_mode &
                display: none
            &.dark
                display: none
                .dark_mode &
                    display: block
            +max-screen($breakpoint-xl)
                height: 80px
            +max-screen(1200px)
                height: 66px
    &__left
        +max-screen($breakpoint-xl)
            display: flex
            align-items: center
    .menu
        display: flex
        padding-top: 28px

        +max-screen($breakpoint-xl)
            padding-top: 0

        +max-screen(1200px)

        li
            // margin-left: 70px
            // margin-right: 70px

            margin-left: 35px
            margin-right: 35px
            +max-screen($breakpoint-xl)
                margin-left: 25px
                margin-right: 25px
            +max-screen(1200px)
                margin-left: 15px
                margin-right: 15px
            a
                font-size: 24px
                text-transform: uppercase
                +max-screen(1200px)
                    font-size: 20px
                +max-screen($breakpoint-xl)
                    font-size: 20px
                +max-screen($breakpoint-lg)
                    font-size: 24px
            &.current-menu-item
                // a
                //     color: $light-lila
                //     font-weight: bold
                //     .dark_mode &
                //         color: $light-text
    &__right
        display: flex
        align-self: center
        justify-content: space-between
        width: 100%
        +max-screen($breakpoint-xl)
            align-items: center
            padding-top: 0
        +max-screen(1200px)

        &Menu
            display: flex
            & > div
                align-self: center
            // padding-top: 28px
            .menu
                padding-top: 0
                margin-left: 0
                margin-right: 0
    .header-btn
        margin-left: 35px
        margin-right: 35px
        align-self: flex-start
        +max-screen($breakpoint-xl)
            margin-left: 25px
            margin-right: 25px
        +max-screen(1200px)
            align-self: center
            margin-left: 15px
            margin-right: 15px
        a
            font-size: 24px
            +max-screen(1200px)
                font-size: 20px
                height: auto
            +max-screen($breakpoint-xl)
                font-size: 20px

    &__mobile
        padding: 13px 22.5px
        position: absolute
        left: 0
        top: 0
        right: 0
        z-index: 99
        background: var(--new-vizual-background-main,#ececec)
        // box-shadow: 0px -4px 4px rgba(20, 31, 56, 0.2)
        .dark_mode &
            background: $dark-mode-background
        +max-screen($breakpoint-xl)
        +max-screen($breakpoint-lg)
            position: fixed
            top: -1px
            bottom: auto
        +max-screen($breakpoint-ls)

        +max-screen($breakpoint-md)
            // padding: 7px 15px

        +max-screen($breakpoint-sm)
            padding: 13px 22.5px

        +max-screen(475px)

        +max-screen(375px)

        .container
            +max-screen($breakpoint-lg)
                max-width: 830px
                display: flex
                justify-content: space-between
                align-items: center
            +max-screen($breakpoint-md)
                padding: 0

        &Menu
            position: fixed
            right: -100vw
            top: 0
            width: 100%
            height: 100vh
            z-index: 100
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            transition: .3s
            z-index: 100
            background-size: cover
            background-position: center
            background: $new-vizual-background-main

            .dark_mode &
                background: $dark-mode-background

            // +max-screen($breakpoint-lg)
            //     background-image: url('../assets/images/landscape_hero_background.png')
            // +max-screen($breakpoint-md)
            //     background-image: url(../assets/images/hero_tablet.png)
            &.opened
                right: 0
            & > div:first-child
                .menu
                    margin-top: -18px
            .menu
                display: flex
                align-items: center
                flex-direction: column
                padding-top: 0
                li
                    margin-top: 18px
    &__phone
        a
            display: block
            padding: 10px 20px
            background: $lila
            box-shadow: 5px 5px 20px 0 rgba(13,39,80,.16), -8px -8px 15px 0 #fff
            border-radius: 10px
            .dark_mode &
                background: $gold
                box-shadow: none
        img
            width: 24px
            height: 24px
    &__burger
        width: 50px
        height: 35px
        position: relative
        span
            width: 100%
            height: 5px
            background-color: black
            display: block
            border-radius: 5px
            transition: all 0.3s ease
            left: 0
            position: absolute
            background: $lila
            .dark_mode &
                background: $gold
            &:nth-child(1)
                top: 0
            &:nth-child(2)
                top: 15px
                right: 0
                left: auto
                width: 25px
            &:nth-child(3)
                bottom: 0
    &__mobileLogo
        // padding: 8px 0
        // margin-left: 10px
        img
            .dark_mode &
                display: none
            &.dark
                display: none
                .dark_mode &
                    display: block
            +max-screen($breakpoint-lg)
                height: 56px
            +max-screen($breakpoint-sm)
                height: 36px
    &__burgerClose
        width: 28px
        height: 28px
        position: absolute
        top: 24px
        right: 28px
        span
            position: absolute
            left: 0
            top: 50%
            border-radius: 50px
            width: 28px
            height: 3px
            background: #000
            .dark_mode &
                background: #fff
            &:nth-child(1)
                transform: rotate(45deg)
            &:nth-child(2)
                transform: rotate(-45deg)
html[lang="en-US"]
    +max-screen($breakpoint-lg)
        margin-top: 0 !important
#wpadminbar
    +max-screen($breakpoint-lg)
        display: none
